<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Math</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'exercises/style.css' %}">
</head>
<body>
    <p id="question"></p>
    <div id="feedback">
        <p id="correct-incorrect"></p>
        <p id="your-answer"></p>
        <p id="correct-answer"></p>
        <p id="time-taken"></p>
    </div>
    <form id="myForm">
        <label for="user-answer"></label>
        <input id="user-answer" name="user-answer" type="number">
        <input id="submit-answer" type="submit">
    </form>
    <button id="new-question">new question</button>
    <script src="{% static 'exercises/script.js' %}"></script>
</body>
</html>