{% extends 'base.html' %}
{% block title %}Mental Math{% endblock title %}

{% block content %} 

    {% if user.is_authenticated %}

        <h1>statistics: {{operator_name}} {{a_digits}} digit(s) by {{b_digits}} digit(s)</h1>

        

        {% if weekly_duration != None %}

            
            <div class="fc">

                <img src="data:image/png;base64,{{weekly_duration}}" alt="weekly accuracy" width="100%" height=auto />

                <img src="data:image/png;base64,{{weekly_accuracy}}" alt="weekly accuracy" width="100%" height=auto />

                <img src="data:image/png;base64,{{image_base64}}" alt="duration stats" width="100%" height=auto />

            

        {% else %}

            <h1>not enough data to calculate stats</h1>    

        {% endif %}

        

    {% else %}

        <h3 ><a href="{% url 'exercises:signup' %}"><span>sign up</span></a> to set targets and track you stats</h3>

    {% endif %}

       

{% endblock content %}